
:root {
    --title-text-color: #0844a4;
    --basic-text-color: #606060;
    --accent-color: blue;
    --focus-hover-color: #188CE8;
    --secondary-accent-color: #f2f2f2;
  }

  body {
    font-family: "Helvetica", bold;
    font-style: normal;
    font-weight: 400;
    color: var(--primary-text-color);
  }
  
  .list {
    list-style: none;
  }
  
  .link {
    text-decoration: none;
    color: inherit;
  }


 /* *{
box-sizing: border-box;
padding: 0;
margin: 0;
  }
  */
  /*---------------------------------MAIN---------------------------------------*/


  .main {
    display: flex;
    flex-direction:column;

  }

  .main-div-section {
    display: flex;
    width: 100%;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background-image: url("../images/main-background.jpg");
    background-size: cover;
    
  }
.main-div-section div {
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 2px solid blue;
}

.container {
    display: flex;
    height:100vh;
    width: 100%;
    border-bottom: 1px solid grey;
}
.about {
    display: flex;
    flex-direction: column;
    height:100vh;
    width: 100%;
    border-bottom: 1px solid grey;
}

  .main-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var (--title-text-color);
  }

   .btn {
    font-family: inherit;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    background-color: var(--accent-color);
    color: var(--secondary-accent-color);
  }
  
  .main-button:hover
   {
      background-color: var(--focus-hover-color);
      color: var(--secondary-accent-color);
  }
  .main-button:focus {
      background-color: var(--focus-hover-color);
      color: var(--secondary-accent-color);
  }

  /*---------------------------------NAVIGATION MENU---------------------------------------*/
  .navigation {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding: 10px;
    border: none;
  }

  .nav-list li {
    display: inline-flex;
    list-style: none;
    border-right: 1px solid grey;
    padding-right: 20px;
    padding-left: 20px;
  }

  .nav-list li:last-child {
    border-right: none;
  }

  /*---------------------------------SECTIONS---------------------------------------*/

  section {
    display: flex;
    flex-direction: column;
    height:100vh;
    width: 100%;
    border-bottom: 1px solid grey;
}

.about-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height:100vh;
    width: 100%;
    
}

h2 {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    margin-top: 30px;
}



.about-me {
  display: flex;
    font-size: 1.14rem;
    line-height: 1.35;
    text-align: center;
    justify-content: center;
    margin: 0 auto 1.5rem;
    max-width: 800px;
}

ul {
    list-style-type: none;
  }
  
  li {
    margin: 4px 0;
  }
  
  h3::before {
    font-family: sans-serif;
    content: "✔";
    color: gray;
    display: inline-block;
    width: 1em;
    background: white;
    padding-left: 3px;
    border: 1px solid gray;
    border-radius: 50%;
    margin-right: 1em;
  }

.about-list {
    display: flex;
    list-style: none;
    padding-right: 20px;
    padding-left: 20px;
    margin: 20px;
    font-size: 22px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
}

.p-list {
    font-size: 16px;
}

/* ------------------  EXPERIENCE ------------------  */

.experience_main_div {
  display: flex;
  align-items: center;
  height:100vh;
 
}
.makeup {
    display: flex;
    padding-right: 20px;
    padding-left: 20px;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.makeup-experience  {
    display: flex;
    align-items: center;
    border: 1px solid gray;
    height: 270px;
    width: 380px;
    justify-content: space-around;
    padding-right: 20px;
    padding-left: 20px;
    margin: 20px;
    font-size: 22px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
}

.frontend-experience {
    display: flex;
    border: 1px solid gray;
    height: 270px;
    width: 380px;
    align-items: center;
    justify-content: space-around;
    padding-right: 20px;
    padding-left: 20px;
    margin: 20px;
    font-size: 22px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
}

.experience {
    display: flex;
    flex-direction: column;
    height:100vh;
    width: 100%;
}
/*  ------------------ PIE CHART ------------------ */
.donut {
  /* ------------------  CIRCLE ------------------ */
  width: 300px; height: 300px;
  border-radius: 50%;


  /* ------------------  SEGMENTS ------------------  */
  background: conic-gradient(
    red 0deg 120deg,
    yellow 120deg 160deg,
    green 160deg 250deg,
    blue 250deg 360deg
  );
}

/* ------------------  DONUT "CONVERSION" SMALLER CIRCLE */
.hole {
  width: 180px; height: 180px;
  border-radius: 50%;
  background: #fff;
  border: 1px solid grey;
}

.donut {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid grey;
  margin-left: 12px;
}

/* ------------------ CAPTION ------------------  */
.caption {
  display: flex;
  margin-top: 30px;
}

/* ------------------  SEGMENTS ------------------ */
.caption div { 
  padding: 8px 10px; 
}
.segment1 { 
  background: red;
  border-radius: 40%;
  margin-right: 30px;

}
.segment2 { 
  background: yellow;
  border-radius: 40%;
  margin-right: 30px; 
}
.segment3 { 
  background: green;
  border-radius: 40%;
  margin-right: 30px; 
}
.segment4 { 
  background: blue; 
  border-radius: 40%;

}




.interests {
  display: flex;
  flex-direction: column;
  height:100vh;
  width: 100%;
}
.interests-list {
    display: flex;
    flex-direction: column;
    position: relative;

}
.interest1 {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items:center;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
}
.interest2 {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  align-items:center;
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
}

.longboard-img {
  display: flex;
  justify-content: center;
  margin: 40px;
}

.snowboard-img {
  display: flex;
  justify-content: center;
  margin: 40px;
}

.to-top-link {
  display: flex;
  justify-content:flex-end;
  height: 40px;
  margin-right: 30px;
}

.link-to-about {
  display: flex;
  justify-content:flex-end;
  height: 40px;
  margin-right: 30px;
  margin-bottom: 30px;
}
 /*---------------------------------GET IN TOUCH---------------------------------------*/

  /* Style inputs with type="text", select elements and textareas */
input[type=text], textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid blue; /* Blue border */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=send-button] {
    background-color: blue;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  
  /* When moving the mouse over the submit button, add a focus-hover-color */
  input[type=send-button]:hover {
    background-color: var(--focus-hover-color);
  }
  
  
/*---------------------------------FOOTER---------------------------------------*/
  /* Style all font awesome icons */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  /* Instagram */
  .fa-instagram {
    background: #ac2bac;
    color: white;
  }

   /* GitHub */
   .fa-github {
    background: #333333;
    color: white;
  }